# Database (AWS RDS)
DB_URL=jdbc:mysql://your-rds-endpoint:3306/mini3?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=3600000

# AWS S3
S3_BUCKET_NAME=
