HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
bin/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Environment ###
.env

### 작업일지 ###
docs/김민희_작업일지.md
